<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="adede5">  <td>19/12/04 12:08:12</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_LoginTest.browserSetup()[pri:0, instance:com.key2act.LoginTestcases.TC002_LoginTest@1dfe2924]">&gt;&gt;browserSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1685232414</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>19/12/04 12:08:29</td>   <td>17537</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_LoginTest.verifyLogindetails()[pri:0, instance:com.key2act.LoginTestcases.TC002_LoginTest@1dfe2924]">verifyLogindetails</td> 
  <td>main@1685232414</td>   <td></td> </tr>
</table>
