<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="adede5">  <td>19/11/25 15:25:23</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_LoginTest.browserSetup()[pri:0, instance:com.key2act.LoginTestcases.TC001_LoginTest@6ebc05a6]">&gt;&gt;browserSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1213216872</td>   <td></td> </tr>
<tr bgcolor="9286a3">  <td>19/11/25 15:25:56</td>   <td>33215</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_LoginTest.browserSetup()[pri:0, instance:com.key2act.LoginTestcases.TC002_LoginTest@6e6c3152]">&gt;&gt;browserSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1213216872</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>19/11/25 15:26:12</td>   <td>49201</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginTest.verifyLogin()[pri:0, instance:com.key2act.LoginTestcases.TC001_LoginTest@6ebc05a6]">verifyLogin</td> 
  <td>main@1213216872</td>   <td></td> </tr>
<tr bgcolor="9286a3">  <td>19/11/25 15:26:33</td>   <td>69748</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_LoginTest.verifyLogindetails()[pri:0, instance:com.key2act.LoginTestcases.TC002_LoginTest@6e6c3152]">verifyLogindetails</td> 
  <td>main@1213216872</td>   <td></td> </tr>
</table>
